@import models.domain.DataSourceDescription
@(dataSourceDescription: DataSourceDescription)(implicit request: RequestHeader, messages: Messages)

<div class="modal-dialog modal-xl" style="max-width: 1140px">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">@Html(messages("donation.preview-data.title"))</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div>
                <div class="card-deck feedback-stats-deck">
                    <div class="card top feedback-stats-card">
                        <div>
                        <div id="info" class="alert alert-info" style="border-radius: 16px;">
                            <p>@messages("donation.preview-data.body1")</p>
                            <p>@messages("donation.preview-data.body2")</p>
                        </div>

                        <p class="pl-3 pr-3 pl-sm-4 pr-sm-4 pl-md-3 pr-md-3 pl-lg-5 pr-lg-5 show-on-anonymisation-success-@{dataSourceDescription.name.toString}">
                            @Html(String.format(messages("donation.raw-data-explanation_format"), "<span id=\"display-preview-total-" + dataSourceDescription.name.toString + "\"></span>"))
                            <a class="viewRawJson" href="about:blank" target="_blank">@Html(messages("donation.raw-data-link.text"))</a>.
                        </p>
                    </div>
                    <div class="container-fluid show-on-anonymisation-success-@{dataSourceDescription.name.toString}">
                        <div id="carousel-deidentified-preview-@{dataSourceDescription.name.toString}" class="carousel slide carousel-deidentified-preview" data-interval="false" data-ride="carousel">
                            <div class="carousel-inner row w-100 mx-auto">

                            </div>
                            <a class="carousel-control-prev carousel-deidentified-preview" href="#carousel-deidentified-preview-@{dataSourceDescription.name.toString}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">@messages("donation.preview-data.previous")</span>
                            </a>
                            <a class="carousel-control-next carousel-deidentified-preview" href="#carousel-deidentified-preview-@{dataSourceDescription.name.toString}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">@messages("donation.preview-data.next")</span>
                            </a>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button mt-2" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>
            </div>
        </div>
    </div>




</div>