@()(implicit request: RequestHeader, messages: Messages)


<div class="modal-dialog modal-xl modalMaxWidth">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">@messages("consent.title")</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p class="text-justify data-protection-paragraph">
                @messages("consent.subtitle")
            </p>

            <h4 class="data-protection-headline">@messages("consent.purpose.title")</h4>
            <p class="text-justify data-protection-paragraph">
                @Html(messages("consent.purpose.body"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.responsible.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.responsible.body1"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.responsible.body2"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.about.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.about.body1"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.about.body2"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.benefit.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.benefit.body1"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.benefit.body2"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.data-storage.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.data-storage.body1"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.data-storage.body2"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.voluntary.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.voluntary.body"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.data-protection.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.data-protection.body1"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.data-protection.body2"))
            </p>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.data-protection.body3"))
            </p>

            <h4 class="data-protection-headline">@messages("consent.contact.title")</h4>
            <p class="text-justify data-protection-paragraph">
            @Html(messages("consent.contact.body"))
            </p>


            <p class=" text-justify data-protection-paragraph">
                <strong>
                    @messages("consent.confirmation")
                </strong>
            </p>
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>

                @helper.form(routes.SocialDataDonationController.consentToStudy(), '_feedbackTooltip -> "true", 'class -> "text-right") {
                <div align="center">
                    @helper.CSRF.formField
                    <input type="submit" value="@messages("consent.buttons.agree.caption")" class="btn footer-forward-button consent-button"></input>
                </div>
                }
            </div>
        </div>
    </div>
</div>