@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@import models.api._

@import models.domain.DataSourceDescription
@import models.domain.DonationDataSourceType.DonationDataSourceType

@(dataSource: String, data: Map[String, GraphData])(implicit request: RequestHeader, messages: Messages)

<div class="modal-dialog modal-xl" style="max-width: 1140px">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">More...</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div
            id="@{
                dataSource.toString
            }ModalContainer"
            style="width: 100%"
            >
                @showAnimatedResponseTimeBarChart(dataSource)
                @showBreaksInConvPlot(dataSource)
            </div>


            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>

            </div>
        </div>
    </div>


    @showResponseTimePlot(name: String) = {
    @showExplanationText("Lorem ipsum dolor sit amet, consetetur sadipscing elitr,"
                + "sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                + "At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.")


        <div id="@{
            name
        }ResponseTimePlot"></div>
        <div class="clearfix"></div>
    }


    @showAnimatedResponseTimeBarChart(name: String) = {
    @showExplanationText("Hier werden <b>pro Monat</b> Ihre und die Antwortzeiten Ihrer Freunde gezählt. Es wird der Prozentsatz aller Antworten (d.h. eine Nachricht, die Sie nach einer Nachricht von einem Freund gesendet haben oder umgekehrt) angezeigt, die in der angegebenen Zeit erfolgt sind. Sie können sehen, wie viel Prozent Ihrer Antworten Sie schneller als nach 1 Minute, nach 1–2 Minuten, 3–5 Minuten, 6–15 Minuten, 16–30 Minuten, 31–60 Minuten und langsamer als 60 Minuten gesendet haben. Der Balken für > 60 Minuten beinhaltet auch längere Gesprächspausen. Klicken Sie HIER, um eine Erklärung mit einem Beispiel zu sehen.")

        <div id="@{
            name
        }AnimatedResponseTimeBarChart"></div>
        <div class="clearfix"></div>
    }

    @showBreaksInConvPlot(name: String) = {
    @showExplanationText("Dieser Graph zeigt für den ausgewählten Chat pro Monat die längste zusammenhängende Zeitperiode in Tagen, in der keine Nachricht in diesem Chat geschrieben wurde.")

        <div id="@{
            name
        }BreaksInConvPlot"></div>
        <div class="clearfix"></div>
    }


    @showExplanationText(body: String) = {
        <div style="margin-top: 3em"></div>
        <div class="card-deck feedback-stats-deck">

            <div class="card top feedback-stats-card">
                <p class="insights-text text-center">
                @Html(body)
                </p>
            </div>

        </div>
    }
</div>