@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@import models.api._

@import models.domain.DataSourceDescription
@import models.domain.DonationDataSourceType.DonationDataSourceType

@(dataSource: String, data: Map[String, GraphData])(implicit request: RequestHeader, messages: Messages)

<div class="modal-dialog modal-xl" style="max-width: 1140px">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">More about Interaction Intensity</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div
            id="@{
                dataSource.toString
            }ModalContainer"
                style="width: 100%"
            >
                @showTitle("More about Sent and Received <u>Words</u>")
                @showAnimatedHorizontalBarChartOverall(dataSource)
                @showSentReceivedSlidingWindowMeanGraphPlot(dataSource)
                @showSentReceivedDailyPerConversationGraphPlot(dataSource)
                @showTitle("More about Sent and Received <u>Messages</u>")
                @showSentReceivedPlot(dataSource)
            </div>


            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>

            </div>
        </div>
    </div>

    @showExplanationText(title: String, body: String) = {
        <div style="margin-top: 3em"></div>
        <div class="card-deck feedback-stats-deck">
            <div class="modal fade" id="polarPlotExplanation" role="dialog">
            @feedback_explanationModal("testing")
            </div>

            <div class="card top feedback-stats-card">
                <p class="insights-text text-center">
                @Html(body)
                </p>
            </div>

        </div>
    }

    @showTitle(title: String) = {
        <div class="top col-md text-center">
            <span class="headline font-italic text-center"><strong>@Html(title)</strong></span>
        </div>
    }

    @showAnimatedHorizontalBarChartOverall(name: String) = {
    @showExplanationText("Animated Horizontal Bar Chart Overall", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.")

        <div
        id="@{
            name.toString
        }AnimatedHorizontalBarChartOverall"
        class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>
        <div class="clearfix"></div>
    }

    @showSentReceivedPlot(name: String) = {
    @showExplanationText("Monthly Sent Received Messages", "This was one of the two plots already implemented in Dona. (As I will focus on sent/received words rather than messages -> maybe remove this? Or keep it?)")
        <div id="@{
            name.toString
        }MessagesOverTime" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>
        <div class="clearfix"></div>
    }


    @showSentReceivedSlidingWindowMeanGraphPlot(name: String) = {
    @showExplanationText("Sliding Window Mean: Daily Sent Received Words", "Calculating the sliding window mean (window size 30 days) for sent/received messages.")

        <div id="@{
            name
        }SentReceivedSlidingWindowMean" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }


    @showSentReceivedDailyPerConversationGraphPlot(name: String) = {
    @showExplanationText("Daily Sent Received Words", "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.")


        <div id="@{
            name
        }DailySentReceivedPerConversation" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }
</div>