@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@import models.api._

@import models.domain.DataSourceDescription
@import models.domain.DonationDataSourceType.DonationDataSourceType

@(dataSource: String, data: Map[String, GraphData])(implicit request: RequestHeader, messages: Messages)

<div class="modal-dialog modal-xl" style="max-width: 1140px">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">@messages("feedback.moreAbout.interactionIntensity.title")</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div
            id="@{
                dataSource.toString
            }ModalContainer"
            style="width: 100%"
            >
                @showTitle(messages("feedback.moreAbout.interactionIntensity.wordsTitle"))
                @showAnimatedHorizontalBarChartOverall(dataSource)
                @showSentReceivedSlidingWindowMeanGraphPlot(dataSource)
                @showSentReceivedDailyPerConversationGraphPlot(dataSource)
                @showTitle(messages("feedback.moreAbout.interactionIntensity.messagesTitle"))
                @showSentReceivedPlot(dataSource)
            </div>


            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>

            </div>
        </div>
    </div>

    @showExplanationText(body: String) = {
        <div style="margin-top: 3em"></div>
        <div class="card-deck feedback-stats-deck">
            <div class="card top feedback-stats-card">
                <p class="insights-text text-center">
                @Html(body)
                </p>
            </div>

        </div>
    }

    @showTitle(title: String) = {
        <div class="top col-md text-center">
            <span class="headline font-italic text-center"><strong>@Html(title)</strong></span>
        </div>
    }

    @showAnimatedHorizontalBarChartOverall(name: String) = {


    @showExplanationText(messages("feedback.graph.animatedHorizontalBarChartOverall.description"))
        <div
        id="@{
            name.toString
        }AnimatedHorizontalBarChartOverall"
        class="d-none"
        data-x-axis="@messages("feedback.graph.animatedHorizontalBarChartOverall.xAxis")"
        data-y-axis-received="@messages("feedback.graph.animatedHorizontalBarChartOverall.yAxis.received")"
        data-y-axis-sent="@messages("feedback.graph.animatedHorizontalBarChartOverall.yAxis.sent")"
        data-sent-trace-name="@messages("feedback.graph.animatedHorizontalBarChartOverall.legend.sent")"
        data-received-trace-name="@messages("feedback.graph.animatedHorizontalBarChartOverall.legend.received")"
        data-description-yearMonth="@messages("feedback.graph.yearMonth")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>
        <div class="clearfix"></div>
    }

    @showSentReceivedPlot(name: String) = {

    @showExplanationText(messages("feedback.graph.monthlySentReceived.description"))
        <div id="@{
            name.toString
        }MessagesOverTime" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.monthlySentReceived.yAxis")"
        data-sent-trace-name="@messages("feedback.graph.monthlySentReceived.legend.sent")"
        data-received-trace-name="@messages("feedback.graph.monthlySentReceived.legend.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>
        <div class="clearfix"></div>
    }


    @showSentReceivedSlidingWindowMeanGraphPlot(name: String) = {
    @showExplanationText(messages("feedback.graph.slidingWindowMean.description"))

        <div id="@{
            name
        }SentReceivedSlidingWindowMean" class="d-none"
        data-y-axis="@messages("feedback.graph.slidingWindowMean.yAxis")"
        data-sent-trace-name="@messages("feedback.graph.slidingWindowMean.legend.sent")"
        data-received-trace-name="@messages("feedback.graph.slidingWindowMean.legend.received")"
        data-overall="@messages("feedback.graph.overallData")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }


    @showSentReceivedDailyPerConversationGraphPlot(name: String) = {
    @showExplanationText(messages("feedback.graph.dailySentReceived.description"))

        <div id="@{
            name
        }DailySentReceivedPerConversation" class="d-none"
        data-y-axis="@messages("feedback.graph.dailySentReceived.yAxis")"
        data-sent-trace-name="@messages("feedback.graph.dailySentReceived.legend.sent")"
        data-received-trace-name="@messages("feedback.graph.dailySentReceived.legend.received")"
        data-overall="@messages("feedback.graph.overallData")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }
</div>