@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@import models.api._

@import models.domain.DataSourceDescription
@import models.domain.DonationDataSourceType.DonationDataSourceType

@(donorId: String, data: Map[String, GraphData])(implicit request: RequestHeader, messages: Messages)

@mainNew("DonaForMe")() {
    <div class="justify-content-center">
        <div class="top col-md text-center">
            <span class="headline font-italic text-center"><strong>@messages("feedback.thanks.title")</strong></span>
        </div>

        <div class="alert alert-info">
            @showTitle("Wichtige Hinweise:")
            <div class="top col-md text-center">
                Die angezeigten Graphen und Visualisierungen erlauben <b><u>keine</u> direkten Rückschlüsse</b> auf die Qualität Ihrer Sozialen Beziehungen. Beachten Sie, dass lediglich Zahlen Ihrer WhatsApp Chats dargestellt werden.
            </div>
            <div class="top col-md text-center">
                Bedienungshinweise: Sie können in einigen Graphen per Klicken und Gedrückt halten direkt im Graphen oder ggf. unten drunter im Zeitschieber Zeitfenster selbst zur Betrachtung auswählen.
                Um die Ansicht zurückzusetzen machen Sie einen <b>Doppelklick</b> in den Graphen hinein. Außerdem können Sie in einigen Darstellungen oben links zwischen der Anzeige der insgesamten Daten und der Daten einzelner Chats wählen.
            </div>
        </div>

        @for((dataSource, GraphData(_, _, _, _, _, _, _, _, averageMessageNumber, _)) <- data) {
            <div id="@{
                dataSource.toString
            }container">
                @showStatistics(averageMessageNumber, dataSource)
                @showTitle("Interaction Intensity")
                @showAnimatedPolarPlot(dataSource, messages("feedback.graph.animatedPolarPlot"))
                @showAnimatedHorizontalBarChart(dataSource, messages("feedback.graph.animatedHorizontalBarChart"))
                @showTitle("Daily Activity Times")
                @showDailyActivityTimes(dataSource, messages("feedback.graph.dailyActivityHoursPlot"))
                @showTitle("Response Times")
                @showResponseTimeBarChart(dataSource, messages("feedback.graph.responseTimeBarChart"))
            </div>
        }

        <div class="alert alert-warning">
        @showTitle("Please continue to the next and final questionnaire. Thanks a lot!")
        </div>

    </div>
    <script>
            let isNext = false;
            window.onbeforeunload = function (e) {
                if (!isNext) {
                    e = e || window.event;
                    // For IE and Firefox prior to version 4
                    if (e) {
                        e.returnValue = 'Sure?';
                    }
                    // For Safari
                    return 'Sure?';
                };
            }
        function isNextButton () {
                isNext = true
        }
    </script>

    <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script> const allData = @Html(Json.stringify(Json.toJson(data)));</script>
    <script> const i18n = {
        time: "@messages("feedback.graph.time")",
        numberOfMessages: "@messages("feedback.graph.number-of-messages")",
        sent: "@messages("feedback.graph.sent")",
        received: "@messages("feedback.graph.received")",
        responseTime: "@messages("feedback.graph.response-time")",
        medianResponseTime: "@messages("feedback.graph.median-response-time")",
        overview: "@messages("feedback.graph.overview")",
        detail: "@messages("feedback.graph.detail")",
        you: "@messages("feedback.graph.you")",
        friends: "@messages("feedback.graph.friends")",
        systemName: "@messages("donation.anonymisation.system")",
    };
    </script>
    <script> const backGroundImages = {
        polarBackground: "@routes.Assets.at("images/FeedbackBackgroundForPolarPlot.svg")",
    };
    </script>
    <script src="@routes.Assets.at("javascripts/plot.js")" type="text/javascript"></script>
} {
    <div class="mt-3 row justify-content-center mx-0">
        <a class="btn footer-backward-button" href="/instructions">@messages("actions.previous")</a>
        <button class="btn btn-outline footer-forward-button text-center" onclick="isNextButton()">
            Next
        </button>
    </div>
}


@showAnimatedPolarPlot(name: String, description: String) = {
@showExplanationText(description)

    <div id="@{
        name.toString
    }AnimatedPolarPlot" class="d-none"
    data-x-axis="@messages("feedback.graph.time")"
    data-y-axis="@messages("feedback.graph.number-of-messages")"
    data-sent-trace-name="@messages("feedback.graph.sent")"
    data-received-trace-name="@messages("feedback.graph.received")"
    >
        <div class="card h-100">
            <div class="m-auto">@messages("feedback.graph.loading")</div>
        </div>
    </div>
    <div class="clearfix"></div>
}

@showAnimatedHorizontalBarChart(name: String, description: String) = {

    <div style="margin-top: 4em"></div>
@showExplanationText(description)
    <div
    id="@{
        name.toString
    }AnimatedHorizontalBarChart"
    class="d-none"
    data-x-axis="@messages("feedback.graph.time")"
    data-y-axis="@messages("feedback.graph.number-of-messages")"
    data-sent-trace-name="@messages("feedback.graph.sent")"
    data-received-trace-name="@messages("feedback.graph.received")"
    >
        <div class="card h-100">
            <div class="m-auto">@messages("feedback.graph.loading")</div>
        </div>
    </div>
    <div class="top col-md text-right pt-2">
        <div class="modal fade" id="@{
            name.toString
        }sentReceivedModal" role="dialog">
        @feedback_sentReceivedPlotsModal(name, data)
        </div>
        <button class="btn btn-outline footer-forward-button text-center" data-toggle="modal" data-target="#@{
            name.toString
        }sentReceivedModal">
            More about Interaction Intensity</button>
    </div>
    <div class="clearfix"></div>
}


@showDailyActivityTimes(name: String, description: String) = {

@showExplanationText(description)

    <div id="@{
        name
    }DailyActivityTimes" class="d-none"
    data-x-axis="@messages("feedback.graph.time")"
    data-y-axis="@messages("feedback.graph.number-of-messages")"
    data-sent-trace-name="@messages("feedback.graph.sent")"
    data-received-trace-name="@messages("feedback.graph.received")"
    >
        <div class="card h-100">
            <div class="m-auto">@messages("feedback.graph.loading")</div>
        </div>
    </div>

    <div class="top col-md text-right">
        <div class="modal fade" id="@{
            name
        }dailyActivityModal" role="dialog">
        @feedback_dailyActivityPlotsModal(name)
        </div>
        <button class="btn btn-outline footer-forward-button text-center" data-toggle="modal" data-target="#@{
            name
        }dailyActivityModal">
            More about Daily Activity Times</button>
    </div>

    <div class="clearfix"></div>
}


@showResponseTimeBarChart(name: String, description: String) = {
@showExplanationText(description)

    <div id="@{
        name
    }ResponseTimeBarChart"></div>
    <div class="top col-md text-right pt-2">
        <div class="modal fade" id="@{
            name.toString
        }responseTimeModal" role="dialog">
        @feedback_responseTimePlotsModal(name, data)
        </div>
        <button class="btn btn-outline footer-forward-button text-center" data-toggle="modal" data-target="#@{
            name.toString
        }responseTimeModal">
            More about Response Times</button>
    </div>
    <div class="clearfix"></div>
}


@showExplanationText(body: String) = {
    <div class="card-deck feedback-stats-deck">
        <div class="modal fade" id="polarPlotExplanation" role="dialog">
        @feedback_explanationModal("testing")
        </div>

        <div class="card top feedback-stats-card">
            <p class="insights-text text-center">
            @Html(body)
            </p>
        </div>

    </div>
}

@showTitle(title: String) = {
    <div class="top col-md text-center">
        <span class="headline font-italic text-center"><strong>@title</strong></span>
    </div>
}


@showStatistics(averageNumberOfMessages: AverageNumberOfMessages, dataSource: String) = {
    <div class="top">
        <h4 class="text-center font-weight-bold insights-header">@String.format(messages("feedback.graph.title"), dataSource)</h4>
    </div>
    <div class="card-deck feedback-stats-deck">
        <div class="card top feedback-stats-card">
            <h3 class="insights-title text-center">@messages("feedback.graph.total-messages")</h3>
            <p class="insights-text text-center">
            @String.format(
                messages("feedback.graph.active-years-explanation_format"),
                averageNumberOfMessages.numberOfActiveYears.toString
            )
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="text-left insights-box-white" align="center">
                            <h3 class="insights-message-number">@averageNumberOfMessages.sentTotal</h3>
                            <span class="insights-body">@messages("feedback.graph.messages").toUpperCase</span>
                        </div>
                        <span class="insights-caption">@messages("feedback.graph.sent")</span>
                    </div>
                    <div class="col-6">
                        <div class="text-left insights-box-blue">
                            <h3 class="insights-message-number">@averageNumberOfMessages.receivedTotal</h3>
                            <span class="insights-body">@messages("feedback.graph.messages").toUpperCase</span>
                        </div>
                        <span class="insights-caption">@messages("feedback.graph.received")</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card top feedback-stats-card thanks-small-screen-margin">
            <h3 class="insights-title text-center">@messages("feedback.graph.average-per-active-month")</h3>
            <p class="insights-text text-center"> @String.format(messages("feedback.graph.active-months-explanation_format"), averageNumberOfMessages.numberOfActiveMonths.toString)</p>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="text-left insights-box-white">
                            <h3 class="insights-message-number">@averageNumberOfMessages.sentPerActiveMonth</h3>
                            <span class="insights-body">@messages("feedback.graph.messages").toUpperCase</span>
                        </div>
                        <span class="insights-caption" >@messages("feedback.graph.sent")</span>
                    </div>
                    <div class="col-6">
                        <div class="text-left insights-box-blue">
                            <h3 class="insights-message-number">@averageNumberOfMessages.receivedPerActiveMonth</h3>
                            <span class="insights-body">@messages("feedback.graph.messages").toUpperCase</span>
                        </div>
                        <span class="insights-caption">@messages("feedback.graph.received")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
