@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@import models.api._

@import models.domain.DataSourceDescription
@import models.domain.DonationDataSourceType.DonationDataSourceType

@(dataSource: String)(implicit request: RequestHeader, messages: Messages)

<div class="modal-dialog modal-xl" style="max-width: 1140px">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <h3 class="data-protection-headline">More about Daily Activity Times</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

            <div
            id="@{
                dataSource.toString
            }ModalContainer"
            >
                @showDayPartsActivityOverallPlot(dataSource)
                @showAnimatedDayPartsActivityPlot(dataSource)
            </div>

            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn footer-backward-button consent-button" data-dismiss="modal">@messages("consent.buttons.close.caption")</button>

            </div>
        </div>
    </div>

    @showExplanationText(body: String) = {
        <div style="margin-top: 3em"></div>
        <div class="card-deck feedback-stats-deck">

            <div class="card top feedback-stats-card">
                <p class="insights-text text-center">
                @body
                </p>
            </div>

        </div>
    }

    @showAnimatedDayPartsActivityPlot(name: String) = {
    @showExplanationText("In diesem Graphen können Sie sehen, wie sich die Wörter, die sie gesendet und empfangen haben auf verschiedene Teile des Tages im Durchschnitt über den gesamten Zeitraum Ihrer Datenspende verteilen. Klicken Sie HIER, um eine Erklärung mit einem Beispiel zu sehen.")


        <div id="@{
            name
        }DayPartsActivityPlot" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }

    @showDayPartsActivityOverallPlot(name: String) = {
    @showExplanationText("In diesem Graphen können Sie pro Monat sehen, wie sich die Wörter, die sie gesendet und empfangen haben auf verschiedene Teile des Tages im Durchschnitt verteilen.")

        <div id="@{
            name
        }DayPartsActivityOverallPlot" class="d-none"
        data-x-axis="@messages("feedback.graph.time")"
        data-y-axis="@messages("feedback.graph.number-of-messages")"
        data-sent-trace-name="@messages("feedback.graph.sent")"
        data-received-trace-name="@messages("feedback.graph.received")"
        >
            <div class="card h-100">
                <div class="m-auto">@messages("feedback.graph.loading")</div>
            </div>
        </div>

        <div class="clearfix"></div>
    }


</div>