@import models.domain.DataSourceDescription

@(dataSourceDescriptions: List[DataSourceDescription])(implicit request: RequestHeader, messages: Messages)


@mainNew("Dona - ForMe")(){
    <div class="bg-white mt-4 text-center">
        <h2 class="headline">@messages("instructions.about.title")</h2>
        <p class="paragraph serif-text">@Html(messages("instructions.about.body_html"))</p>
        <div id="accordion" align="center">
        @for(description <- dataSourceDescriptions) {
            @getDataPanel(description)
        }
        </div>
        <p class="paragraph">@messages("instructions.multiple-donation-info.body")</p>
    </div>
    <div class="modal fade" id="consent-dialog"  role="dialog">
    @consent()
    </div>
} {
    @footer(title = Some(messages("footer.title")), previousLink = Some("/")){
        <button class="btn btn-outline footer-forward-button text-center" data-toggle="modal" data-target="#consent-dialog">@messages("links.donate")</button>
    }
}

@getDataPanel(dataSourceDescription:DataSourceDescription) = {
    <div class="card">
        <div class="card-header" id="@{dataSourceDescription.name.toString}Header">
            <button class="btn btn-link"
            data-toggle="collapse"
            data-target="#@{dataSourceDescription.name.toString}Panel"
            aria-expanded="true"
            aria-controls="@{dataSourceDescription.name.toString}Panel">
                @if(dataSourceDescription.logo.isDefined){
                    <img class="logo mr-3" src="@{dataSourceDescription.logo}">
                }
                <span>@{String.format(messages("instructions.datasource.title_format"), dataSourceDescription.name)}</span>
            </button>
        </div>


        <div id="@{dataSourceDescription.name.toString}Panel" class="collapse serif-text" aria-labelledby="@{dataSourceDescription.name.toString}Header" data-parent="#accordion">
        @if(dataSourceDescription.name.toString == "Facebook"){
            <div class="card-body d-flex flex-column lg-w-50">
                <div>
                    <p class="serif-text">
                    @Html(dataSourceDescription.description)
                    </p>

                    @if(dataSourceDescription.illustration.isDefined){
                        <img src="@routes.Assets.at(s"images/dataSourceImages/${dataSourceDescription.illustration.get}")" width="400px"></img>
                    }

                    <h4 class="serif-text">
                    @messages("instructions.download-procedure.title")
                    </h4>

                    <div class="serif-text mb-3">
                        <ol>
                        @for(procedureStep <- dataSourceDescription.dataDownloadSteps) {
                            <li>@procedureStep</li>
                        }
                        </ol>
                    </div>


                    <p class="serif-text">
                    @Html(dataSourceDescription.documentation)
                    </p>
                </div>
                @if(dataSourceDescription.animation.isDefined){
                    <video controls autoplay height="@{dataSourceDescription.animation.get.height}" width="@{dataSourceDescription.animation.get.width}">
                        <source src="@routes.Assets.at(s"images/dataSourceImages/${dataSourceDescription.animation.get.source}")" type="video/mp4">
                    </video>
                }
            </div>
        } else {
            <div class="card-body d-flex lg-w-50">
                <div>
                    <p class="serif-text">
                        @Html(dataSourceDescription.description)
                    </p>

                    @if(dataSourceDescription.illustration.isDefined){
                        <img src="@routes.Assets.at(s"images/dataSourceImages/${dataSourceDescription.illustration.get}")" width="400px"></img>
                    }

                    <h4 class="serif-text">
                    @messages("instructions.download-procedure.title")
                    </h4>

                    <div class="serif-text text-left mb-3">
                        <ol>
                        @for(procedureStep <- dataSourceDescription.dataDownloadSteps) {
                            <li>@procedureStep</li>
                        }
                        </ol>
                    </div>

                    <p class="serif-text">
                    @Html(dataSourceDescription.documentation)
                    </p>



                </div>
                @if(dataSourceDescription.animation.isDefined){
                    <div class="ml-5">
                        <video controls autoplay height="@{dataSourceDescription.animation.get.height}" width="@{dataSourceDescription.animation.get.width}">
                            <source src="@routes.Assets.at(s"images/dataSourceImages/${dataSourceDescription.animation.get.source}")" type="video/mp4">
                        </video>
                    </div>
                }
            </div>
        }
        </div>
    </div>
}
