@(designVersion: Option[String])(implicit request: RequestHeader, messages: Messages)

@mainNew("Dona - ForMe", designVersion){
<div class="header text-white mx-auto p-3 pr-4 pl-4 text-center landing-header">
    <h1 class="display-5 mb-3 landing-header-headline">@messages("landing.header.title")</h1>
    <p class="landing-header-text text-center">@messages("landing.header.body")</p>
</div>
} {

<div class="bg-white mt-4 text-center landing-container">
    <h2 class="headline">@messages("landing.what.title")</h2>
    <p class="paragraph mt-1">@messages("landing.what.body1")</p>
    <p class="paragraph">@messages("landing.what.body2")</p>
    <h2 class="headline mb-3">@messages("landing.why.title")</h2>
    <div class="row">
        <div class="col-sm">
            <img src="@routes.Assets.at("images/Feedback_new.png")" class="landing-column-feedback-image"></img>
            <h3 class="landing-subtitle">@messages("landing.why.col1.title")</h3>
            <p class="landing-column-text">@messages("landing.why.col1.body")</p>
        </div>
        <div class="col-sm">
            <img src="@routes.Assets.at("images/support-research-illustration.jpg")" class="landing-column-image"></img>
            <h3 class="landing-subtitle">@messages("landing.why.col2.title")</h3>
            <p class="landing-column-text">@Html(messages("landing.why.col2.body_html"))</p>
        </div>
        <div class="col-sm">
            <img src="@routes.Assets.at("images/stay-anonymous-illustration.jpg")" class="landing-column-image"></img>
            <h3 class="landing-subtitle">@messages("landing.why.col3.title")</h3>
            <p class="landing-column-text">@Html(messages("landing.why.col3.body_html"))</p>
        </div>

        <div class="bg-white mt-4 text-center landing-container">
            <h2 class="headline">@messages("learn-more.how-to-participate.title")</h2>
            <p class="paragraph mt-1">@messages("learn-more.how-to-participate.body")</p>
            <h2 class="headline">@messages("learn-more.how-to-cancel.title")</h2>
            <p class="paragraph mt-1">@messages("learn-more.how-to-cancel.body")</p>
        </div>
    </div>
    <h3 class="headline">@messages("donation-info.title")</h3>
    <div class="row">
        <div class="col">
            <p class="paragraph text-left">@Html(messages("donation-info.data-request"))</p>
        </div>
        <div class="col">
            <img src="@routes.Assets.at("images/Datenanfrage.png")" class="donation-info-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="paragraph text-left">@Html(messages("donation-info.anonymisation"))</p>
        </div>
        <div class="col">
            <img src="@routes.Assets.at("images/Anonymisierung.png")" class="donation-info-image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="paragraph text-left">@Html(messages("donation-info.storage"))</p>
        </div>
        <div class="col">
            <img src="@routes.Assets.at("images/Speicherung.png")" class="donation-info-image">
        </div>
    </div>
    <p class="serif-text wide-top-margin"><em>@Html(messages("landing.contact.body_html"))</em></p>
</div>

}{
@footer(nextLink = Some("/instructions"), nextCustomText=Some(messages("links.instructions")))()
}
