@()(implicit request: RequestHeader, messages: Messages)

<div>
    <a class="languageSelect dropdown-toggle languageSelectButton float-right ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @messages("language.current")
    </a>
    <div class="dropdown-menu languageSelectOption languageSelectButton" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item languageSelectOption" href="@routes.SocialDataDonationController.changeLanguage("uk")">@messages("language.options.ukr")</a>
        <a class="dropdown-item languageSelectOption" href="@routes.SocialDataDonationController.changeLanguage("ru")">@messages("language.options.rus")</a>
        <a class="dropdown-item languageSelectOption" href="@routes.SocialDataDonationController.changeLanguage("en")">@messages("language.options.eng")</a>
    </div>
</div>