@()(implicit request: RequestHeader, messages: Messages)

@mainNew("Dona - ForMe")() {
    <div class="bgwhite mt-4">
        <div class="text-center instructions-body align-content-center">
            <h3 class="headline">@messages("learn-more.data-storage.title")</h3>
            <p class="text-left paragraph">@Html(messages("learn-more.storage.body1_html"))</p>
            <p class="text-left paragraph">@Html(messages("learn-more.storage.body2_html"))</p>
            <figure class="figure">
                <img class="img-fluid" src="@routes.Assets.at(messages("learn-more.imagePath"))">
                <figcaption class="font-weight-bold font-italic figure-caption">
                    <p class="paragraph" style="color: #666666">@messages("learn-more.image.caption")</p>
                </figcaption>
            </figure>
            <h3 class="headline">@messages("learn-more.data-handling.title")</h3>
            <p class="text-left paragraph">@messages("learn-more.data-handling.body1")</p>
            <p class="text-left paragraph">@messages("learn-more.data-handling.body2")</p>
        </div>
    </div>
    <div class="mt-5">
    @footer(previousLink = Some("/"), nextLink = Some("/instructions"), nextCustomText=Some(messages("links.instructions")))()
    </div>
} {
}
