@()(implicit request: RequestHeader, messages: Messages)


<div class="modal-dialog modal-xl modalMaxWidth">
    <div class="modal-content">
        <div class="modal-header bgmain">
            <div class="flex-grow-1 flex-column">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h3 class="data-protection-headline mt-2">@messages("psychHelp.title")</h3>
            </div>
        </div>
        <div class="modal-body">
            <p class="text-justify data-protection-paragraph">@messages("psychHelp.info")
            </p>

            <p class="text-justify data-protection-paragraph">@Html(messages("psychHelp.german"))
            </p>
            
            <p class="text-justify data-protection-paragraph">@Html(messages("psychHelp.women"))
            </p>

            <p class="text-justify data-protection-paragraph">@Html(messages("psychHelp.young"))
            </p>

            <p class="text-justify data-protection-paragraph">@Html(messages("psychHelp.ukrain"))
            </p>

            <p class="text-justify data-protection-paragraph">@Html(messages("psychHelp.ukrain_numbers"))
            </p>
        </div>
    </div>
</div>